@charset "UTF-8";

html{
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hachi Maru Pop', cursive;
}

body{
  font-family: 'Hachi Maru Pop', cursive;
  height: 100%;
    margin: 0;
}
.parent{
  display: flex;
}
/* メニューはじまり */
.menu {
  height: 100%;
  width: 20%;
}

ul.menu_bar {
	margin: 0;
	margin-top: 15px;
	padding: 0;
	list-style-type: none;
	background-color: #fff;
	border: 10px #ffdac8 solid;
	border-radius: 10px;
}
li.menu_content a {
	display: block;
	padding: 8px 16px;
	margin: 0 20px;
	text-decoration: none;
	color: #000000;
	border-bottom: 2px dashed #ffc9d2;
}
li.menu_content {
	text-align: center;
}
li.menu_content:last-child {
	border-bottom: none;
}
li.menu_content a.active {
	color: #ffffff;
	background-color: #cdfcff;
	border-radius: 20px;
	color: #000000;
}

li.menu_content_image{
  position: relative;
  margin-top: 100%;
}
/* メニューおわり */

/*ヘッダーはじまり*/
.menu_header{
  height: 35px;
  padding: 10px;
  text-align: left;
  border-style: solid;
}

/*ヘッダーおわり*/

/* Extra.css */

.extradiv{
  /* width: 70%; */
  /*margin: 0px;
  padding: 0px;
  border-style: solid;
  font-size: 20px;
  float: left;*/

  width: 100%;
    margin: 0;
    padding: 0;
}

.aboutli{
  list-style: none;
}

.extrali{

  margin: 0px;
  border-style: solid;
  list-style: none;
}

.newline{
  float: left;
}

/* Extra.cssおわり */

/* メニューバーのアイコン */
#menu_list:hover:before{
	content: url("../img/hosiaka.png");
	margin: 0px;
	padding: 0px;
}
#menu_list:hover:after{
	content: url("../img/hosiaka.png");
	margin: 0px;
	padding: 0px;
}
#menu_add:hover:before{
	content: url("../img/hosiao.png");
	margin: 0px;
	padding: 0px;
}
#menu_add:hover:after{
	content: url("../img/hosiao.png");
	margin: 0px;
	padding: 0px;
}
#menu_extra:hover:before{
	content: url("../img/hosikira.png");
	margin: 0px;
	padding: 0px;
}
#menu_extra:hover:after{
	content: url("../img/hosikira.png");
	margin: 0px;
	padding: 0px;
}
/*メニューバーのアイコン終わり*/