@charset "UTF-8";

html{
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
    margin: 0;
}
.parent{
  display: flex;
}
/* メニューはじまり */
.menu {
  height: 100%;
  width: 20%;
}

ul.menu_ber {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #eeeeee;
}
li.menu_content a {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	color: #000000;
}
li.menu_content {
	text-align: center;
}
li.menu_content:last-child {
	border-bottom: none;
}
li.menu_content a.active {
	color: #ffffff;
	background-color: #da3c41;
}
li.menu_content a:hover:not(.active) {
	color: #ffffff;
	background-color: #1b2538;
}
li.menu_content_image{
  position: relative;
  margin-top: 100%;
}
/* メニューおわり */

/*ヘッダーはじまり*/
.menu_header{
  height: 35px;
  padding: 10px;
  text-align: left;
  border-style: solid;
}

/*ヘッダーおわり*/

/* Extra.css */

.extradiv{
  /* width: 70%; */
  /*margin: 0px;
  padding: 0px;
  border-style: solid;
  font-size: 20px;
  float: left;*/

  width: 100%;
    margin: 0;
    padding: 0;
}

.aboutli{
  list-style: none;
}

.extrali{

  margin: 0px;
  border-style: solid;
  list-style: none;
}

.newline{
  float: left;
}

/* Extra.cssおわり */

