@charset "UTF-8";
body, html {
    height: 100%;
    font-family: 'Hachi Maru Pop', cursive;
}

#login_form{
    position: relative;
    top: 5px;
    padding: 30px;
    text-align: center;
    background-color: #FFEED8;
    border-radius: 20px;
    width: 504px;
    height: 170px;
    border-style: none;
    margin: auto;
    margin-top: 80px;
}

.formout{
	margin: auto;
    height: 241px;
    width: 600nx;
    background-color: #ffb0f7;
    width: 576px;
    border-radius: 20px
}

h1{
	font-weight: 100;
	padding: 20px;
	width: 520px;
	margin: auto;
	text-align:center;
	background-color: #ffd8e9;
    margin-top: 70px;
    border-radius: 20px;
}

#user_id{
	margin-left: 10px;
    height: 30px;
    border-radius: 7px;
}

#password{
	margin-left: 15px;
    height: 30px;
    border-radius: 7px;
}

.image{
	width: 300px;
    position: relative;
    left: 70%;
    bottom: 477px
}

.imageegao{
	width: 300px;
	position: relative;
	right: 15%;
	bottom: 465px;
}

/*動く背景*/
#bg-video{
 	position: fixed;
 	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
 	width: auto;
 	height: auto;
 	z-index: -100;
 	background: url('poster.jpg') no-repeat;
 	background-size: cover;
}

#login_button{
	min-width:100px;
	font-family: 'Hachi Maru Pop', cursive;
	border-radius: 20px;
	height: 38px;
   	width: 120px;
    background-color: #FF7377;
    border: 1px solid #FF7377;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 50px;
}

/*スクロールバーの装飾*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FF8095;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #FFE6EA;
    border-radius: 5px;
}
