@charset "UTF-8";
body, html {
    height: 100%;
    font-family: 'Hachi Maru Pop', cursive;
}
.listdiv {
	width: 100%;
    margin: 0;
    padding: 0;
}

.list_header {

  height: 24px;
  padding: 5px;
  text-align: left;
  border-style: solid;
}

div#table {
  width: 750px;
  height: 350px;
  overflow: auto;		/* はみ出した場合は、スクロールバーを表示する */
  font-weight:1000;
  font-size: 22px;
  margin:7%;
}
table#list th, table#list td {
  border-bottom-width: 1px;	/* 黒色でドットの下線を付ける */
  border-bottom-style: dotted;
  border-bottom-color: black;
  padding: 4px 16px 4px 0;
  text-align: left;
  white-space: nowrap;		/* 折り返さない */
  font-weight:1000;
}
