@charset "UTF-8"; /* 文字コード全体に適用*/
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */
/* 全てのwebページに適用される*/
body, html {
    height: 100%;
}

html *{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 100;
    /**display: flex;**/
    overflow-y: scroll;
}

.adddiv {
	width: 100%;
    margin: 0;
    padding: 0;
}

.add_header {
  height: 40px;
  padding: 5px;
  text-align: left;
  border-style: solid;
}
.title {
	text-align: center;
}

.title-name{
    width: 210px;
    height: 40px;
}

.datetime {
    width: 210px;
    height: 40px;
    margin-bottom: 30px;
}

