@charset "UTF-8"; /* 文字コード全体に適用*/
/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css); */
/* 全てのwebページに適用される*/
body, html {
    height: 100%;
    font-family: 'Hachi Maru Pop', cursive;
    background-image: url(../img/haikei.png);
    background-repeat: no-repeat;
}

html *{
    box-sizing: border-box;
}

body {
    font-weight: 100;
    /**display: flex;**/
    overflow-y: scroll;
}

h1 {
	color: #ff5f4d
}
.adddiv {
	width: 100%;
    margin: 0;
    padding: 0;
}

.add_header {
    font-size: 40px;
    color: #ff5f4d;
  	font-weight: bold;
  	height: 24px;
  	padding: 5px;
  	text-align: left;
}
.title {
	text-align: center;
	background-color: #fff;
    width: 500px;
    margin: auto;
    height: 300px;
    margin-top: 93px;
    border-radius: 10px;
  	box-shadow: 0 0 0 7px #ffe3dc;
}

.title-name{
    width: 210px;
    height: 40px;
}

.datetime {
  	width: 260px;
  	border-radius: 7px;
  	height: 40px;
  	margin-bottom: 30px;
  	font-family: 'Hachi Maru Pop', cursive;
}

.taskname {
  	width: 260px;
  	height: 40px;
  	border-radius: 7px;
  	font-family: 'Hachi Maru Pop', cursive;
  	font-weight: bold;
}

.clockdiv {
  	background-color: #cdfcff;
  	text-align: center;
  	padding: 20px;
  	border-radius: 30px;
}

.btn-regist {
  	font-family: 'Hachi Maru Pop', cursive;
  	background-color: #cdfcff;
	border: 1px solid #40979d;
	border-radius: 20px;
	width: 100px;
    height: 30px;
    font-weight: bold;
}
/*スクロールバーの装飾*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FF8095;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #FFE6EA;
    border-radius: 5px;
}

